.auth-bg {
  padding: 2rem 2rem;
  background-color: #FAEDCD;
}

.auth-container {
  max-width: 450px;
  margin: 2rem auto;
  padding: 2rem;
}

.auth-input-group {
  margin-bottom: 0.1rem;
}

.auth-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.auth-footer {
  text-align: center;
  margin-top: 0.5rem;
}